@charset "utf-8";

h1 {
  font-size: 26px;
  width: 100%;
}

ul {
  list-style: none;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  background: #4285f4;
  border: none;
  color: #fff;
}

main {
  margin: 0 auto;
  width: 500px;

  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.buttonWrap {
  margin: 0 auto;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.contentsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
